html, body {
    background-color: hsl(309, 100%, 9%);
}

.todo {
    margin: 50px auto;
    width: 500px;
    height: 800px;
    border: 5px solid #6E6E6E;
    border-radius: 10px;
    background: linear-gradient(
        135deg,
        rgb(248, 248, 248) 25%, #fff 25%, #fff 50%,
        rgb(248, 248, 248) 50%, 
        rgb(248, 248, 248) 75%, #fff 75%, #fff
    );
    background-size: 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-container {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #6E6E6E;
    border-radius: 5px;
    background-color: #fff;
}

.todo-input {
    width: 270px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Onest', sans-serif;
}
         
.btn {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px 0 10px 10px;
    padding: 13px 33px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(17, 1, 1);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border-color: #a4a4a4;
    font-family: 'Onest', sans-serif;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.todos-container {
    width: 400px;
    height: 520px;
    margin: 50px auto;
    font-family: 'Onest', sans-serif;
    border: 2px solid #6E6E6E;
    border-radius: 5px;
    background-color: #fff;
    overflow: auto;
}

.todo-container{
    margin: 20px;
    border: 2px solid #6E6E6E;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: red;
    background-image: url("./assets/trash_can.png");
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 1%;
    border: 3px solid #000;
    border-radius: 3px;
}

.delete-btn:active {
    background-color: rgb(255, 190, 77);
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 2%;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
}

.pagination, .page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  max-width: 300px;
  min-width: 120px;
}

.page {
  width: 35px;
  height: 35px;
  background-color: #fff;
  justify-content: center;
}

.page:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
 